<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OtellerSuite"   thread-count="3" parallel="methods">
  <test name="test4">
 <classes>
<class name="test">
<include value="test2" dependsOnMethods=" test4"/>
<include value="test4"/>
</class>
</classes>
</test>
</suite> <!-- Suite -->
